<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="httpStartConfig" class="com.github.middleware.httpadapter.httpclient.HttpStartConfig">
        <property name="httpUrlPrefix" value="dev-"></property>
    </bean>
    <bean id="defaultHttpClient"
          class="com.github.middleware.httpadapter.httpclient.support.DefaultHttpClient" init-method="start"
          destroy-method="destroy">
    </bean>
</beans>